<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/1-bs.css">
<link rel="stylesheet" href="/linker/styles/2-styles.css">
<link rel="stylesheet" href="/linker/styles/emots.css">
<!--STYLES END-->

		<!--SCRIPTS-->
<script src="/linker/js/0-jquery-1.9.1.js"></script>
<script src="/linker/js/1-handlebars.js"></script>
<script src="/linker/js/2-ember-1.0.0-rc.7.js"></script>
<script src="/linker/js/3-ember-model.js"></script>
<script src="/linker/js/32-socket.io.js"></script>
<script src="/linker/js/33-sails.io.js"></script>
<script src="/linker/js/34-emots.js"></script>
<script src="/linker/js/5-app.js"></script>
<!--SCRIPTS END-->
	</head>

	<body>
		<%- body %>
		<!--TEMPLATES-->

<!--TEMPLATES END-->
	</body>
</html>
